body {
  padding: 0 30px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Arial", sans-serif;
  color: #222222;

  background: #ffffff url("img/bg-page.png") no-repeat top center;

  margin: 0 17%;
}

h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: normal;
}

article h1 {
  line-height: 100%;
  margin-top: 0;
}

h2 {
  font-size: 20px;
  line-height: normal;
}

article {
  border-top: 3px solid #c6c4f4;
  margin-top: 40px;
  padding-top: 40px;
}

aside {
  margin: 20px 0;
  color: #c4c4c4;
}

pre,
code {
  background-color: #fafaff;
  border: 1px solid #c6c4f4;
  border-radius: 4px;
  color: #3632ad;
  font-family: "Courier New", "Courier", monospace;
}

pre {
  padding: 5px;
}

code {
  padding: 2px 5px;
}

pre code {
  background-color: transparent;
  border-radius: 0;
  border: none;
}

blockquote {
  padding-left: 14px;
  border-left: 2px solid #6a2cce;

  color: #6a2cce;
}

cite {
  color: #222222;
}

a[href] {
  color: #0099ef;
  text-decoration: underline;
}

del {
  color: #ff4400;
}

ins {
  color: rgb(105, 178, 83);
}

del,
ins {
  text-decoration: none;
}

em,
i {
  font-style: normal;
}


/* navigation */

.blog-navigation {
  margin-bottom: 30px;
  padding: 20px;

  background-color: rgba(68, 112, 196, 0.7);
  border: 5px solid #2d508f;

  color: #ffffff;
}

.blog-navigation h2 {
  margin-top: 0;
}

.blog-navigation ul {
  list-style: none;
  padding-left: 0;
}

.blog-navigation li {
  margin-bottom: 5px;
}

.blog-navigation a {
  color: #ffffff;
}


/* skills */

.skills dd {
  margin: 0;
  margin-bottom: 10px;

  background-color: #e8e8e8;
}

.skills-level {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #4470c4;
}

.skills-level-ok {
  background-color: #47bb52;
}


/* footer */

footer {
  margin-top: 30px;
  padding-top: 10px;
  color: #aaaaaa;
  border-top: 1px solid #3632ad;
}

.site-footer {
  min-width: 550px;
  background-color: #fafaff;
  color: #3632ad;
}

.container {
  width: 510px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-footer .container {
  text-align: center;
}

.site-footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}


/* danger */

.danger-text {
  color: #ff4400;
}

.danger-block {
  padding: 5px 10px;
  background-color: #ffd0bf;
}

.no-danger-block {
  padding: 5px 10px;
  background-color: #c6f5f0;
}


.page-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  font-family: "Verdana", sans-serif;
  text-align: center;
}


/* partnership */

.partnership {
  margin: 30px 0;
  padding: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #4a87fa;
  background-image: url("img/bg-partnership.svg");
}

.partnership a {
  color: #ffffff;
  text-decoration: none;
}


/* decoration */

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.overline {
  text-decoration: overline;
}

.italic {
  font-style: italic;
}
