<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Блог</title>

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>

      <table class="two-cols">
        <tr>
          <td><h1 class="page-title">Блог</h1></td>

          <td class="right-col">
            <form action="/blog" method="post">

              <select name="fragmentName">
                <option value="">Выбрать запись блога</option>
                <option th:each="post : ${posts}"
                        th:value="${post.fragmentName}"
                        th:text="${post.text}">
                </option>
              </select>

              <button type="submit">Перейти</button>
            </form>
          </td>
        </tr>
      </table>

    </header>
    <main>
      <nav class="blog-navigation">
        <h2>Записи в блоге</h2>
        <ul>
          <!--
          <li><a href="#">День первый. Как я забыл покормить кота</a></li>
          <li><a href="#">День второй. Хочу быть верстальщиком</a></li>
          <li><a href="#">День третий. Мой кот на меня обиделся</a></li>
          -->
          <li><a title="записи утеряны">...</a></li>

          <li><a href="#day-4">День четвертый. Как я чуть не заболел</a></li>
          <li><a href="#day-5">День пятый. Отдыхаю</a></li>
          <li><a href="#day-6">День шестой. Как я ничего не понял</a></li>
          <li><a href="#day-7">День седьмой. Кекс выдал мне задание</a></li>

          <!--
          <li><a href="#">День восьмой. Очень серьёзный</a></li>
          <li><a href="#">День девятый. Точнее ночь</a></li>
          <li><a href="#">День десятый. Подведение итогов</a></li>
          -->
          <li><a title="записи утеряны">...</a></li>

          <li><a href="#day-11">День одиннадцатый. Без фанатизма</a></li>

          <!--
          <li><a href="#">День двенадцатый. Все любят печенье</a></li>
          <li><a href="#">День тринадцатый. Нашёл статью</a></li>
          <li><a href="#">День четырнадцатый. Новый формат</a></li>
          <li><a href="#">День пятнадцатый. Галерея селфи</a></li>
          -->
          <li><a title="записи утеряны">...</a></li>
        </ul>
      </nav>

      <section>
        <p>Всем привет! Добро пожаловать на мой первый сайт. Ещё недавно я понятия не имел, кто такой верстальщик, а теперь я нашёл <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">тренажёры по HTML и CSS</a> и поставил перед собой цель — стать им. У меня даже появился инструктор — Кекс, который не позволит мне расслабиться и будет следить за моими успехами.</p>
        <p>Моё первое задание — вести дневник и честно писать обо всех своих свершениях.</p>
      </section>

      <section>
        <h2>Навыки</h2>
        <dl class="skills">
          <dt>HTML</dt>
          <dd><div class="skills-level skills-level-ok" style="width: 60%;">60%</div></dd>
          <dt>CSS</dt>
          <dd><div class="skills-level" style="width: 20%;">20%</div></dd>
          <dt>JS</dt>
          <dd><div class="skills-level" style="width: 10%;">10%</div></dd>
        </dl>
      </section>

      <article>
        <h1>...</h1>
      </article>

      <article id="day-4" th:fragment="day-4">
        <h1>День четвёртый. Как я чуть не заболел</h1>
        <p>Сегодня я узнал, что верстальщиком быть <span class="danger-text">опасно</span>. Когда ты только начинаешь свой путь, ты ещё не опытен и легко можешь заразиться какой-нибудь болезнью. Вот некоторые из опасностей, которые могут подстерегать:</p>

        <dl>
          <div class="danger-block">
            <dt>Диватоз</dt>
            <dd>Острый страх семантики</dd>
          </div>
          <div class="danger-block">
            <dt>Таблицефобия</dt>
            <dd>Избегание таблиц</dd>
            <dd>Стремление сверстать таблицу на дивах</dd>
          </div>
          <div class="no-danger-block">
            <dt>Классянка</dt>
            <dd>Навязывание классов каждому тегу</dd>
          </div>
        </dl>
      </article>

      <article id="day-5" th:fragment="day-5">
        <h1>День пятый. Отдыхаю.</h1>
        <p>Решил отвлечься. Смотрите, что нарисовал</p>

        <pre>
 /\_/\
( o.o )
 = ^ =
        </pre>
      </article>

      <article id="day-6" th:fragment="day-6">
        <h1>День шестой. Как я ничего не понял</h1>
        <p>Сегодня зашёл на несколько сайтов посмотреть, как они свёрстаны. Увидел какие-то цитаты и незнакомые теги <code>&lt;cite&gt;</code> и <code>&lt;blockquote&gt;</code>.</p>
        <p>Не понял чем они отличаются. Закрыл браузер. Разберусь завтра.</p>
        <p>А вот что я увидел.</p>
        <pre><code>&lt;blockquote&gt;
  &lt;p&gt;Ум ценится дорого, когда дешевеет сила.&lt;/p&gt;
  &lt;cite&gt;Джейсон Стэтхэм&lt;/cite&gt;
&lt;/blockquote&gt;</code></pre>
      </article>

      <article  id="day-7" th:fragment="day-7">
        <h1>День седьмой. Кекс выдал мне задание</h1>
        <p>Сегодня пришёл Кекс и дал мне немного необычное задание. По соседству с ним поселилась одна кошечка, а Кекс совсем не умеет сочинять песни. Поэтому он попросил меня найти какое-нибудь великое произведение, чтобы он смог исполнить его ей.</p>
        <p>Как говорится, <q>для хорошего кота и в феврале март</q> (<cite>народная мудрость</cite>).</p>
        <p>Нашёл лирическое произведение для Кекса:</p>

        <blockquote>
          <p>
            Мяу мяу мяу<br>
            мррр мяу мяяяу<br>
            мяу мяу<br>
            мяу<br>
          </p>
          <cite>Собрание произведений М. Котидзе.</cite>
        </blockquote>
      </article>

      <article>
        <h1>...</h1>
      </article>

      <article id="day-11" th:fragment="day-11">
        <h1>День одиннадцатый. Без фанатизма</h1>
        <p>Понял, что кормил кота слишком много. Чтобы кот мог ходить по снегу и не проваливаться, решил убрать этот пункт из списка дел.</p>
        <ol>
          <li><del>Покормить кота</del></li>
          <li><ins>Не забыть поесть самому</ins></li>
          <li class="underline">Полить кактус</li>
          <li class="line-through">Выключить свет</li>
          <li class="overline">Выйти из дома по делам</li>
        </ol>
      </article>

      <aside class="partnership">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Тут могла быть ваша реклама</a>
      </aside>
    </main>
    <footer class="site-footer">
      <div class="container">
        <p>© arlekk1ng, 2023</p>
        <!--
        <p>Блог</p>
        -->
      </div>
    </footer>
  </body>
</html>
